body {
    font-family: 'Public Sans', sans-serif;
}

.header {

    display: flex;
    justify-content: space-between;
    padding: 45px;


}

.logo {

    display: flex;
    align-items: center;

}

.logo h1 {
    margin-left: 5px;
    font-size: 20px;
}

.menu {

    display: flex;
    align-items: center;
}

.menu li {

    margin: 20px;
}

.menu li a {
    padding: 11px 6px;
    font-weight: 400;
    font-size: 15px;
    transition: 0.3s ease-in-out;
}

.menu li a:hover {
    background-color: #5BC241;
    color: #ffffff;
}

.menu li a.btn {
    background-color: #5BC241;
    border-radius: 10px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    padding: 10px 21px;
}